body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
  }
  
  header {
    background-color: paleturquoise;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  h1, h2 {
    margin: 0.5rem 0;
    text-align: center;
  }
  
  section {
    margin: 20px auto;
    width: 80%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px black;
  }
  
  /* Employee Form */
  .registration-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .registration-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 4px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .registration-form button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .registration-form button:hover {
    background-color: blue;
  }
  
  /* Employee List */
  .employee-list ol li {
    padding: 10px;
    border: 1px solid white;
    margin: 5px 0;
    background-color: whitesmoke;
  }
  
  /* Employee Details Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid white;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: paleturquoise;
    color: white;
  }
  
  /* Map Styling */
  .embedded-map iframe {
    width: 100%;
    height: 400px;
    border: none;
  }